@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  /* Header */
  .announcement {
    background-color: #c95613;
    color: white;
    margin: auto;
    padding: 5px;
    font: normal normal bold 15px/19px Roboto Condensed;
    text-transform: capitalize;
    text-align: center;
  }

  nav {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .logo {
    max-width: 100px;
    margin: 10px 0px;
  }

  .navigation {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    font: italic normal bold 20px/25px Roboto Condensed;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .navigation a {
    text-decoration-line: none;
    color: #0a3641;
  }

  .navigation a:hover {
    color: #c95613;
  }

  .nav-about-contact {
    display: none;
  }

  .nav-icon {
    display: none;
  }

  /* Body */

  .bander-container img {
    max-width: 100%;
  }

  h1 {
    display: none;
  }

  .custom-promises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    text-align: center;
  }

  .custom-promises img {
    width: 60%;
    height: auto;
  }

  h2 {
    font: normal normal bold 15px/21px Roboto Condensed;
    color: #44a6de;
    text-transform: uppercase;
  }

  .custom-promises p {
    font: normal normal normal 12px/14px Roboto Condensed;
    letter-spacing: 0px;
    color: #0a3641;
    opacity: 1;
  }

  .men-woman-menu {
    display: flex;
    flex-direction: row;
    margin: 2em;
    text-align: center;
  }

  .men-woman-menu img {
    width: 90%;
  }

  .cta-shop {
    background-color: white;
    border: 3px solid #0a3641;
    font: normal bold 10px Roboto Condensed;
    font-size: 15px;
    color: #0a3641;
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none;
  }

  .cta-shop:hover {
    background-color: #0a3641;
    border: 3px solid #0a3641;
    font: normal bold 10px Roboto Condensed;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    padding: 5px;
  }

  .animation-jacket img {
    width: 100%;
    margin: 2em 0em;
  }

  .feature-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    width: 100%;
    margin: 0px;
  }

  .feature-products {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    margin: 10px;
  }

  .feature-collection-img {
    grid-area: 1/ 1 /3 / 3;
  }

  .products-name-price {
    grid-area: 3 / 1 / 4 / 2;
  }

  .product-like-cta {
    grid-area: 3 / 2 / 4 / 3;
    max-width: 30px;
    margin-left: auto;
    height: auto;
  }
  .cta-see-more {
    grid-column: 2;
    margin: auto;
    text-align: center;
    font-size: 15px;
  }

  .cta-see-more a {
    text-decoration: none;
    background-color: white;
    color: #0a3641;
    border: 3px solid #0a3641;
    border-radius: 50px;
    padding: 8px;
    font: normal normal medium 78px/96px Roboto Condensed;
    text-transform: uppercase;
  }

  .cta-see-more a:hover {
    background: #0a3641;
    color: white;
  }

  h3 {
    grid-column: -1/1;
    font: italic normal bold 30px/35px Roboto Condensed;
    letter-spacing: 0px;
    color: #187a93;
    text-align: center;
  }

  .feature-products img {
    width: 100%;
    background: transparent url("img/wind-breaker-in-blue.png") 0% 0% no-repeat
      padding-box;
    border: 1px solid #707070;
  }

  .product-like-cta img {
    border: none;
  }

  h4 {
    font: normal normal normal 15px/19px Roboto Condensed;
    letter-spacing: 0px;
    color: #0a3641;
  }

  .products-name-price p {
    font: normal normal normal 11px/13px Roboto Condensed;
    letter-spacing: 0px;
    color: #000000;
  }

  /* Footer */

  footer {
    background: transparent
      linear-gradient(180deg, #187a9300 0%, #13617568 96%, #0c3d4a 100%) 0% 0%
      no-repeat padding-box;
    box-shadow: 0px 3px 6px #de7c4480;
    border: 5px solid #187a93;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .custom-service-footer {
    grid-area: 1 / 1 / 2 / 2;
    margin: 20px;
    margin-bottom: 3em;
  }

  .about-us-footer {
    grid-area: 1 / 2 / 2 / 3;
    margin: 20px;
  }

  .footer-update {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
  }

  .copyright-icon {
    grid-area: 3 / 1 / 4 / 3;
    color: white;
    margin: 1em;
  }

  footer .logo {
    display: none;
    text-align: center;
  }

  h5 {
    font: italic normal bold 23px/27px Roboto Condensed;
    text-decoration: underline;
    color: #0a3641;
  }

  .custom-service-footer a {
    text-decoration: none;
    font: normal normal bold 17px/20px Roboto Condensed;
    color: #0a3641;
  }

  .custom-service-footer li {
    list-style: none;
  }

  .about-us-footer p {
    font: normal normal normal 12px/16px Roboto Condensed;
    color: #0a3641;
  }

  .footer-update h5 {
    font: italic normal bold 22px/26px Roboto Condensed;
    letter-spacing: 0px;
    color: #187a93;
  }

  .footer-update p,
  label {
    font: normal normal normal 14px/16px Roboto Condensed;
    letter-spacing: 0px;
    color: #0a3641;
  }

  .footer-update i {
    padding: 10px;
  }

  footer input,
  button {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 3px solid var(--unnamed-color-0a3641);
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #0a3641;
    border-radius: 50px;
    margin: 5px 0px 15px 3px;
  }

  footer button {
    text-transform: uppercase;
    font: normal normal bold 10px/11px Roboto Condensed;
    color: #de7c44;
    background-color: white;
    padding: 3px;
  }

  footer button:hover {
    color: white;
    background-color: #de7c44;
  }
}

/* ----------------- */
/* ----------------- */

@media screen and (min-width: 769px) {
  * {
    margin: 0;
    padding: 0;
  }

  /* Header */
  .announcement {
    font: normal normal bold 33px/39px Roboto Condensed;
    background-color: #c95613;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
  }

  nav {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
  }

  nav a {
    text-decoration: none;
    list-style-type: none;
    font: italic normal bold 36px/42px Roboto Condensed;
    letter-spacing: 0px;
    color: #0a3641;
  }

  nav li {
    display: inline-block;
  }

  .logo {
    width: 210px;
    height: auto;
  }

  /* Body */

  .bander-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .bander-container img {
    width: 100%;
  }

  h1 {
    font: italic normal bold 115px/135px Roboto Condensed;
    color: #187a93;
    text-shadow: 0px 3px 6px #de7c4480;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
  }

  .custom-promises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10em;
    text-align: center;
  }

  h2 {
    font: normal normal bold 36px/42px Roboto Condensed;
    color: #44a6de;
  }

  .custom-promises p {
    font: normal normal normal 25px/29px Roboto Condensed;
    color: #0a3641;
  }

  .men-woman-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 8em;
    column-gap: 5em;
    text-align: center;
  }

  .men-woman-menu img {
    width: 100%;
  }

  .cta-shop {
    background-color: white;
    border: 3px solid #0a3641;
    font: normal bold 10px Roboto Condensed;
    font-size: 30px;
    color: #0a3641;
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;
  }

  .cta-shop:hover {
    background-color: #0a3641;
    border: 3px solid #0a3641;
    font: normal bold 10px Roboto Condensed;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
  }

  .animation-jacket {
    align-content: center;
    margin: 8em;
  }

  .animation-jacket img {
    width: 100%;
  }

  .feature-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    width: 100%;
    margin: 0px;
  }

  .feature-products {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    margin: 5em;
  }

  .feature-collection-img {
    grid-area: 1/ 1 /3 / 3;
  }

  .products-name-price {
    grid-area: 3 / 1 / 4 / 2;
  }

  .product-like-cta {
    grid-area: 3 / 2 / 4 / 3;
    max-width: 30px;
    margin-left: auto;
    height: auto;
  }

  .cta-see-more {
    grid-column: 2;
    margin: auto;
    text-align: center;
    font-size: 3em;
  }

  .cta-see-more a {
    text-decoration: none;
    background-color: white;
    color: #0a3641;
    border: 3px solid #0a3641;
    border-radius: 50px;
    padding: 30px;
    font: normal normal medium 78px/96px Roboto Condensed;
    text-transform: uppercase;
  }

  .cta-see-more a:hover {
    background: #0a3641;
    color: white;
  }

  h3 {
    grid-column: -1/1;
    font: italic normal bold 120px/142px Roboto Condensed;
    color: #187a93;
    text-align: center;
  }

  .feature-products img {
    width: 100%;
    background: transparent url("img/wind-breaker-in-blue.png") 0% 0% no-repeat
      padding-box;
    border: 1px solid #707070;
  }

  .product-like-cta img {
    border: none;
    width: 100%;
  }

  h4 {
    font: normal normal normal 60px/68px Roboto Condensed;
    color: #0a3641;
  }

  .products-name-price p {
    font: normal normal normal 30px/34px Roboto Condensed;
    letter-spacing: 0px;
    color: #000000;
  }

  footer {
    background: transparent
      linear-gradient(180deg, #187a9300 0%, #13617568 96%, #0c3d4a 100%) 0% 0%
      no-repeat padding-box;
    box-shadow: 0px 3px 6px #de7c4480;
    border: 5px solid #187a93;
    margin-top: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
  }

  .copyright-icon {
    color: white;
    margin: 4em 1em;
  }

  .custom-service-footer {
    margin: 5em 10em;
  }

  h5 {
    text-decoration: underline;
    font: italic normal bold 47px/55px Roboto Condensed;
    text-decoration: underline;
    color: #0a3641;
  }

  .custom-service-footer a {
    text-decoration: none;
    font: normal normal bold 35px/41px Roboto Condensed;
    color: #0a3641;
  }

  .custom-service-footer li {
    list-style: none;
  }

  .about-us-footer {
    margin: 5em 10em;
    margin-left: -10em;
  }

  .about-us-footer p {
    font: normal normal bold 35px/41px Roboto Condensed;
    color: #0a3641;
  }

  .about-us-footer a {
    font: normal normal bold 22px/25px Roboto Condensed;
    color: #0a3641;
    text-decoration: none;
    border: 3px solid #0a3641;
    border-radius: 50px;
    padding: 8px;
  }

  .footer-update {
    margin-top: 5em;
  }

  .footer-update h5 {
    font: italic normal bold 66px/78px Roboto Condensed;
    color: #187a93;
  }

  .footer-update p,
  label {
    font: normal normal normal 28px/33px Roboto Condensed;
    color: #0a3641;
  }

  .footer-update i {
    padding: 10px;
    margin: 4em;
  }

  footer input,
  button {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 3px solid var(--unnamed-color-0a3641);
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #0a3641;
    border-radius: 50px;
    margin: 5px 0px 15px 3px;
  }

  footer button {
    text-transform: uppercase;
    font: normal normal bold 10px/11px Roboto Condensed;
    color: #de7c44;
    background-color: white;
    padding: 10px;
  }

  footer button:hover {
    color: white;
    background-color: #de7c44;
  }
}
